<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Over+the+Rainbow' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/media/css/style.css">
<title></title>
</head>

<body>

<div id="logo">
  MozoCards
</div>


<div id="tagline">
 beautiful, mozilla branded, personal cards
</div>

<div id="inputdiv">
  <form method="post" action="/">
  {% csrf_token %}
  <input name="email" class="input-email" value="Email" onclick="this.value='';">
  <input name="submit" value="Cards Please!" type="submit" class="subscribe-submit">
  </form>
</div>


</body> </html>
